.centerText {
    text-align: center;
}
.right {
    margin-left: auto;
}
.nav-top {
    display: flex;
    justify-content: center; 
    align-items: center;  
    list-style: none;
    padding: 10px;
    margin: 0;
}